[workspace]
members = ["license-store-cache"]

[workspace.package]
version = "0.3.0"
authors = ["figsoda <figsoda@pm.me>"]
edition = "2021"
license = "MPL-2.0"

[workspace.dependencies]
askalono = "0.4.6"

[package]
name = "nix-init"
version.workspace = true
authors.workspace = true
edition.workspace = true
description = "Generate Nix packages from URLs with hash prefetching, dependency inference, license detection, and more"
readme = "README.md"
homepage = "https://github.com/nix-community/nix-init"
repository = "https://github.com/nix-community/nix-init"
license.workspace = true
keywords = ["cli", "interactive", "generate", "nix", "package"]
categories = ["command-line-utilities"]
include = ["data", "src", "Cargo.lock", "Cargo.toml", "build.rs"]

[dependencies]
anyhow = "1.0.79"
askalono.workspace = true
bstr = "1.9.0"
cargo = "0.75.1"
chumsky = "=1.0.0-alpha.6"
expand = "0.3.0"
flate2 = "1.0.28"
heck = "0.4.1"
indoc = "2.0.4"
is-terminal = "0.4.11"
itertools = "0.12.1"
once_cell = "1.19.0"
owo-colors = "4.0.0"
parse-display = "0.9.0"
pep-508 = "0.4.0"
rayon = "1.8.1"
regex = "1.10.3"
reqwest = { version = "0.11.24", features = ["json"] }
rustc-hash = "1.1.0"
secrecy = { version = "0.8.0", features = ["serde"] }
semver = "1.0.21"
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"
serde_with = "3.6.0"
serde_yaml = "0.9.31"
shlex = "1.3.0"
spdx = "0.10.3"
tar = "0.4.40"
tempfile = "3.10.0"
time = { version = "0.3.34", features = ["parsing", "serde"] }
toml = { version = "0.8.10", default-features = false, features = ["parse"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
url = "2.5.0"
xdg = "2.5.2"
zip = "0.6.6"

[dependencies.clap]
version = "4.4.18"
features = ["cargo", "derive", "unicode", "wrap_help"]

[dependencies.rustyline]
version = "13.0.0"
default-features = false
features = ["derive", "with-fuzzy"]

[dependencies.tokio]
version = "1.36.0"
features = ["macros", "process", "rt-multi-thread"]

[build-dependencies]
clap = { version = "4.4.18", features = ["derive"] }
clap_complete = "4.4.10"
clap_mangen = "0.2.19"

[dev-dependencies]
heck = "0.4.1"
insta = "1.34.0"
tempfile = "3.10.0"

[features]
default = ["vendored"]
vendored = ["cargo/vendored-libgit2", "cargo/vendored-openssl"]

[profile.release]
lto = true
panic = "abort"
codegen-units = 1
