[workspace]
members = ["license-store-cache"]

[workspace.package]
version = "0.3.2"
authors = ["figsoda <figsoda@pm.me>"]
edition = "2021"
license = "MPL-2.0"

[workspace.dependencies]
askalono = "0.4.6"

[package]
name = "nix-init"
version.workspace = true
authors.workspace = true
edition.workspace = true
description = "Generate Nix packages from URLs with hash prefetching, dependency inference, license detection, and more"
readme = "README.md"
homepage = "https://github.com/nix-community/nix-init"
repository = "https://github.com/nix-community/nix-init"
license.workspace = true
keywords = ["cli", "interactive", "generate", "nix", "package"]
categories = ["command-line-utilities"]
include = ["data", "src", "Cargo.lock", "Cargo.toml", "build.rs"]

[dependencies]
anyhow = "1.0.89"
askalono.workspace = true
bstr = "1.10.0"
cargo = { git = "https://github.com/rust-lang/cargo.git", rev = "d585829270c758468b9fd20b2b7fd3d4f4557763" }
chumsky = "=1.0.0-alpha.6"
expand = "0.3.0"
flate2 = "1.0.34"
heck = "0.5.0"
indoc = "2.0.5"
is-terminal = "0.4.13"
itertools = "0.13.0"
once_cell = "1.20.1"
owo-colors = "4.1.0"
parse-display = "0.10.0"
pep-508 = "0.4.0"
rayon = "1.10.0"
regex = "1.11.0"
reqwest = { version = "0.12.7", features = ["json"] }
rustc-hash = "2.0.0"
secrecy = { version = "0.10.2", features = ["serde"] }
semver = "1.0.23"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
serde_with = "3.9.0"
serde_yaml = "0.9.34"
shlex = "1.3.0"
spdx = "0.10.6"
tar = "0.4.42"
tempfile = "3.13.0"
time = { version = "0.3.36", features = ["parsing", "serde"] }
toml = { version = "0.8.19", default-features = false, features = ["parse"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
url = "2.5.2"
xdg = "2.5.2"
zip = "2.2.0"

[dependencies.clap]
version = "4.5.18"
features = ["cargo", "derive", "unicode", "wrap_help"]

[dependencies.rustyline]
version = "14.0.0"
default-features = false
features = ["derive", "with-fuzzy"]

[dependencies.tokio]
version = "1.40.0"
features = ["macros", "process", "rt-multi-thread"]

[build-dependencies]
clap = { version = "4.5.18", features = ["derive"] }
clap_complete = "4.5.29"
clap_mangen = "0.2.23"

[dev-dependencies]
heck = "0.5.0"
insta = "1.40.0"
tempfile = "3.13.0"

[features]
default = ["vendored"]
vendored = ["cargo/vendored-libgit2", "cargo/vendored-openssl"]

[profile.release]
lto = true
panic = "abort"
codegen-units = 1
