name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    name: check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v23

      - name: Set up cachix
        uses: cachix/cachix-action@v12
        with:
          name: nix-community
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Run checks
        run: nix flake check
