name: release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: softprops/action-gh-release@v1
        with:
          body: "[CHANGELOG.md](https://github.com/nix-community/nix-init/blob/main/CHANGELOG.md)"
